<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="color: white;">SkillSync</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container">
        <header class="main-header">
            <div class="title-container">
                <i class="fas fa-sync-alt"></i>
                <h1>SkillSync</h1>
            </div>
            <h5>Tailored Jobs for Your Talent</h5>
        </header>

        <header>
            <h1 style="color: white;">Find Your Perfect Job Match</h1>
        </header>

        <div class="options">
            <div class="option-card">
                <i class="fas fa-briefcase"></i>
                <h2>Skills for Required Job</h2>
                <p>Select a job and see the skills you need.</p>
                <a href="/skills-for-job" class="btn">Explore</a>
            </div>

            <div class="option-card">
                <i class="fas fa-tools"></i>
                <h2>Job for Selected Skills</h2>
                <p>Choose your skills and find matching jobs.</p>
                <a href="/jobs-for-skills" class="btn">Discover</a>
            </div>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
